@import "assets/scss/mixins";
@import "assets/scss/variables";

//////////////////////////
// Styles for Homepage

.homepage {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  @include media-breakpoint-up(sm) {
    display: block;
  }

  @include media-breakpoint-up(xl) {
    background-image: url("../images/LEFT.png"), url("../images/RIGHT.png");
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
    background-size: 35%, 35%, 7%, 10%;
    background-position: left, right, bottom, bottom;
    background-position-x: 0.5%, 99.5%, 45%, 55%;
    background-position-y: 50%, 50%, 70%, 70%;
  }
}

//////////////////////////
// Styles for Collection page

.collections {
  @include media-breakpoint-up(xl) {
    padding: 50px 0;
  }

  &-controls {
    align-items: center;
    margin-bottom: 25px;

    @include media-breakpoint-up(lg) {
      display: flex;
      justify-content: space-between;
    }

    &__preview {
      @include media-breakpoint-up(sm) {
        display: flex;
      }

      @include media-breakpoint-up(lg) {
        justify-content: space-between;
      }

      a {
        width: 100%;

        @include media-breakpoint-up(sm) {
          width: unset;
        }
      }

      button {
        width: 100%;

        @include media-breakpoint-up(sm) {
          width: unset;
        }
      }

      .btn--preview, .btn--create {
        margin-right: 20px;
        margin-bottom: 15px;

        @include media-breakpoint-up(sm) {
          margin-bottom: 0;
        }
      }
    }
  }

  &-grid {
    &__wrapper {
      display: grid;
      grid-gap: 10px;
      grid-template-columns: repeat(2, minmax(150px, 1fr));

      @include media-breakpoint-up(sm) {
        grid-template-columns: repeat(3, minmax(150px, 1fr));
      }

      @include media-breakpoint-up(md) {
        grid-gap: 20px;
        grid-template-columns: repeat(3, minmax(212px, 1fr));
      }

      @include media-breakpoint-up(lg) {
        grid-template-columns: repeat(4, minmax(212px, 1fr));
      }

      @include media-breakpoint-up(xl) {
        grid-template-columns: repeat(5, minmax(212px, 1fr));
      }

      @include media-breakpoint-up(xsl) {
        grid-template-columns: repeat(6, minmax(212px, 1fr));
      }
    }
  }
}

//////////////////////////
// Styles for asset page

.assets {
  &-controls {
    margin-bottom: 25px;
    align-items: end;

    @include media-breakpoint-up(lg) {
      display: flex;
      justify-content: space-between;
    }

    &__count {
      @include media-breakpoint-up(lg) {
        max-width: 370px;
      }

      @include media-breakpoint-up(xl) {
        max-width: 670px;
      }

      h2 {
        word-break: break-word;
      }

      .collection__name {
        text-transform: uppercase;
      }
    }

    &__preview {
      @include media-breakpoint-up(lg) {
        display: flex;
        justify-content: space-between;
      }

      a {
        width: 100%;

        @include media-breakpoint-up(sm) {
          width: unset;
        }
      }

      .btn--back {
        margin-right: 20px;
        margin-bottom: 15px;

        @include media-breakpoint-up(sm) {
          margin-bottom: 0;
        }
      }
    }
  }

  &-grid {
    &__wrapper {
      display: grid;
      grid-gap: 10px;
      grid-template-columns: repeat(2, minmax(150px, 1fr));

      @include media-breakpoint-up(sm) {
        grid-template-columns: repeat(3, minmax(150px, 1fr));
      }

      @include media-breakpoint-up(md) {
        grid-gap: 20px;
        grid-template-columns: repeat(3, minmax(212px, 1fr));
      }

      @include media-breakpoint-up(lg) {
        grid-template-columns: repeat(4, minmax(212px, 1fr));
      }

      @include media-breakpoint-up(xl) {
        grid-template-columns: repeat(5, minmax(212px, 1fr));
      }

      @include media-breakpoint-up(xsl) {
        grid-template-columns: repeat(6, minmax(212px, 1fr));
      }

      .el-asset-item {
        max-width: 100%;

        @include media-breakpoint-down(sm) {
          min-width: auto;
        }
      }
    }
  }
}

//////////////////////////
// Styles for individual Asset page

.asset__individual {
  padding-bottom: 90px;

  .fullscreen__btn {
    opacity: 0 !important;
  }

  h1 {
    margin: 30px 0 30px;
    text-align: center;
  }

  h2 {
    margin: 60px 0 30px;
    text-align: center;
  }

  &-wrapper {
    display: flex;
    justify-content: center;

    &-item {
      max-width: 550px;
    }

    .el-asset-item__img {
      &-meta {
        span, a {
          font-size: rem(20px);
        }

      }
    }

    .asset__poster {
      img {
        width: 100%;
      }
    }
  }
}

.mw-fixed {
  .el-asset-item {
    max-width: 212px;
  }
}

//////////////////////////
// Styles for gallery mode

.gallery-mode {
  .grid__fit-squared, .grid__fit-rectangle {
    grid-gap: 0;
  }

  .assets-grid__wrapper {
    grid-gap: 0;
  }

  .collections-grid__wrapper {
    grid-gap: 0;
  }

  .el-card-item, .el-asset-item {
    padding: 7px 7px 7px 7px;
    background-color: transparent;
    box-shadow: none;
  }

  .el-card-item__data, .el-asset-item__data {
    display: none;
  }

  .gallery-mode__only {
    bottom: 7px;

    &.select {
      right: 7px;
    }

    &.expand__metadata {
      right: 7px;
    }

    &.metadata {
      left: 7px;
    }
  }

  .el-asset-item__img {
    background-color: var(--card-bg-color);

    &:hover {
      .gallery-mode__only {
        z-index: 1;
        opacity: 1;
        visibility: visible;
      }
    }

    .select__btn {
      img {
        border: 1px solid $smoke-black;
      }
    }

    .showmeta__btn {
      border: 1px solid $smoke-black;
    }
  }

  .el-card-item__img {
    &:hover {
      .gallery-mode__only {
        z-index: 1;
        opacity: 1;
        visibility: visible;
      }
    }

    .select__btn {
      img {
        border: 1px solid $smoke-black;
      }
    }
  }

  .selected {
    .gallery-mode__only {
      &.select {
        z-index: 1;
        opacity: 1;
        visibility: visible;
      }
    }
  }

  .el-asset-item__img-meta {
    border: 1px solid var(--text-color-1);

    &__wrapper {
      padding: 5px 5px 30px;
    }
  }
}

//////////////////////////
// Styles for assets wrapper based on square, rectangle, portrait asset

.grid__fit-squared {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(2, minmax(150px, 1fr));

  @include media-breakpoint-up(sm) {
    grid-template-columns: repeat(3, minmax(150px, 1fr));
  }

  @include media-breakpoint-up(md) {
    grid-gap: 20px;
    grid-template-columns: repeat(3, minmax(212px, 1fr));
  }

  @include media-breakpoint-up(lg) {
    grid-template-columns: repeat(4, minmax(212px, 1fr));
  }

  @include media-breakpoint-up(xl) {
    grid-template-columns: repeat(5, minmax(212px, 1fr));
  }

  @include media-breakpoint-up(xsl) {
    grid-template-columns: repeat(6, minmax(212px, 1fr));
  }
}

.grid__fit-rectangle {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(212px, 1fr));

  @include media-breakpoint-up(md) {
    grid-template-columns: repeat(2, minmax(212px, 1fr));
  }

  @include media-breakpoint-up(xl) {
    grid-template-columns: repeat(3, minmax(212px, 1fr));
  }

  .asset__rectangle {
    max-width: 485px;

    &__img {
      min-height: 150px;
    }
  }
}

.grid__modified {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(2, minmax(150px, 1fr));

  @include media-breakpoint-up(md) {
    display: flex;
    flex-wrap: wrap;
    grid-gap: 20px;
  }

  .asset__squared, .asset__portrait {
    max-width: 212px;
  }
}

//////////////////////////
// Styles for OS related issue

.windows {
  .showmeta__btn {
    padding: 2px 1px 0 2px;
  }

  .arrow__btn {
    padding: 1px;
  }

  .btn {
    padding-bottom: 2px;
  }

  .assets, .collections {
    .p-input-icon-left {
      .p-inputtext {
        padding: 5px 15px 9px 35px;
      }
    }
  }
}
