@use "sass:math";
@import 'bootstrap';
@import 'variables';
@import 'mixins';
@import 'prime';
@import 'general';
@import 'form';
@import 'pixl';
@import "../../components/Header/header";
@import "../../components/Footer/footer";
@import "../../components/Layout/layout";
@import "../../components/ContentAddressInput/content-address-input";
@import "../../components/ContentCardItem/content-card-item";
@import "../../components/ContentLoading/content-loading";
@import "../../components/ContentAccordions/content-accordions";
@import "../../components/ContentAssetItem/content-asset-item";
@import "../../components/ContentMetaData/content-metadata";
@import "../../components/ContentAdditionalInfo/content-additional-info";
@import "../../components/ContentPDF/content-pdf";
@import "../../components/Preview/preview";
@import "pages";


.test {
  display: grid;
  //flex-wrap: wrap;
  //list-style: none;
  grid-gap: 10px;
  //grid-template-rows: repeat(5, 200px);
  grid-template-columns: repeat(6, 1fr);
  //grid-auto-flow: row dense;

  &-child {
    //width: 15%
  }
}